<table class="table table-sm table-hover table-bordered">
        <thead>
                <tr>
                        <th>Key</th>
                        <th>Value</th>
                </tr>
        </thead>
        <tbody>
                ${ data.map(d => `
                <tr>
                        <td>${d.key}</td>
                        <td>${d.val}</td>
                </tr>
                `).join('') }
        </tbody>
        <!--<tbody>
                ${ Object.keys(data).map(d => `
                <tr>
                        <td>${d}</td>
                        <td>${data[d]}</td>
                </tr>
                `).join('') }
        </tbody>-->
</table>